<div class="container mt-5">
  <div class="card text-center">

    <div class="card-header">
      Recuperacion de contraseña
    </div>
    <form
      class="row g-3 needs-validation"
      novalidate
      name="formResetPassword"
      id="formResetPassword"
    >
      <div class="card-body">
        <label for="emailResetPassword" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="emailResetPassword"
          name="emailResetPassword" 
          placeholder="Ingrese su correo"
        />
        <label for="newPassword"></label>
        <input
          type="newPassword"
          class="form-control"
          id="newPassword"
          name="newPassword"
          placeholder="Ingrese su nueva contraseña"
        />
        <button
          class="btn btn-primary mt-3"
          id="btnNewPassword"
          name="btnNewPassword"
        >Resetear la password</button>
      </div>
    </form>
  </div>
</div>

<!-- LLamamos al servisor io para ejecutarlo aca en el frontend, 
como esto ejecuta el servidor este ya establece la comunicacion cada vez que se actualiza la paguina -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aca le paso mi js publico -->
<script src="/js/resetPasswordDB.js"></script>

<!-- bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>