<div class="container mt-2">
  <h4>Regístrese</h4>
  <hr />
  <form
    class="row g-3 needs-validation"
    novalidate
    name="formUser"
    id="formUser"
    action="/api/register"
    method="POST"
  >
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Ingrese su nombre"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        placeholder="Ingrese su apellido"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="age" class="form-label">Edad</label>
      <input
        type="number"
        class="form-control"
        id="age"
        name="age"
        placeholder="Ingrese su edad"
        required
      />
      <div class="invalid-feedback">
        Please provide a valid age.
      </div>
    </div>
    <div class="col-md-8">
      <label for="email" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text">@</span>
        <input
          type="email"
          class="form-control"
          aria-describedby="inputGroupPrepend"
          id="email"
          name="email"
          placeholder="Ingrese su email"
          required
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Ingrese una contraseña"
        required
      />
      <div class="invalid-feedback">
        Please provide a valid password.
      </div>
    </div>
    <div class="invalid-feedback">
      Please provide a valid email.
    </div>
    <div class="col-12">
      {{#if hasError}}
        <p class="mt-1 bg-danger text-white">{{error}}</p>
      {{/if}}
      <button class="btn btn-primary" name="btnRegister" id="btnRegister">Enviar
        registro</button>
    </div>
  </form>
</div>

<!-- LLamamos al servisor io para ejecutarlo aca en el frontend, 
como esto ejecuta el servidor este ya establece la comunicacion cada vez que se actualiza la paguina -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aca le paso mi js publico -->
<script src="/js/sessionWebsocketsDB.js"></script>

<!-- bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>